<footer class="footer">

  <div class="content has-text-centered">
    <p>
      Het gebruik van de informatie op deze website is gratis zolang u deze informatie niet kopieert, verspreidt of op een andere manier gebruikt of misbruikt. U mag de informatie op deze website alleen hergebruiken volgens de regelingen van het dwingend recht.
    </p>
    <p>
      Zonder uitdrukkelijke schriftelijke toestemming van Marit van Groningen is het niet toegestaan tekst, fotomateriaal of andere materialen op deze website her te gebruiken. Het intellectueel eigendom berust bij Marit van Groningen.
    </p>
  </div>

</footer>
