---
layout: default
---

{% include hero.html %}

<section class="section container">
    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p>Titel: {{ page.title }} 
                <p>Auteur: {{ page.author }}</p>
                <p>Jaar: {{ page.year }}</p>
                <p>ISBN: {{ page.isbn }}</p>
                <p>Gelezen door: {{ page.read-by }}</p>
            </div>
            <div class="tile is-child box content">
                <p>{{ page.author_description | markdownify }}</p>
            </div>
            <div class="tile is-child">
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box content">
                {{ content }}
            </div>
        </div>
    </div> 
</section>