---
layout: default
---

{% include hero.html %}

{% if page.intro_paragraph and page.intro_paragraph != '' %}
<section class="section container"></div>
    {% include page-intro.html %}
</section>
{% endif %}

<div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
    {% if page.url == '/boeken' %}
            {{ content }}
    {% else %}
        <section class="section content">
            {{ content }}
        </section>
    {% endif %}
    </div>
    <div class="column"></div>
</div>